<br>
<div class="row">

  <div class="container-fluid">

    <section class="py-5">
      <div class="container text-center">
        <h2 class="mb-4">About</h2>
        <p class="lead mb-5">1881-1959</p>
        <div>
          <div class="row align-items-center text-md-left mb-5">
            <div class="col-md-6 order-1 order-md-0"><img class="img-fluid"
                                                          src="assets/images/a1.jpg"
                                                          alt=""></div>
            <div class="col-md-6 mb-4 mb-md-0"><span class="display-3 mb-2">1881</span>
              <h3 class="mb-4">Kintaro Hattori opens a shop selling and repairing watches and clocks in Ginza,
                Tokyo.</h3>
              <p>The story of Seiko began in 1881, when a 21 year old entrepreneur, Kintaro Hattori, opened a shop
                selling and repairing watches and clocks in central Tokyo. Just eleven years later, in 1892, he
                established the 'Seikosha' factory.</p>
            </div>
          </div>
          <div class="row align-items-center text-md-right mb-5">
            <div class="col-md-6 order-1"><img class="img-fluid"
                                               src="assets/images/a2.jpg"
                                               alt=""></div>
            <div class="col-md-6 mb-4 mb-md-0 order-0"><span class="display-3 mb-2">1892</span>
              <h3 class="mb-4">Seikosha was founded; started producing wall clocks.</h3>
              <p>In 1892 Kintaro Hattori bought a disused factory in Tokyo and Seikosha was formed (In Japanese, "Seiko"
                means "exquisite", "minute" or "success" and "sha" means house). It was here that Kintaro Hattori
                produced his first clocks and these marked the beginnings of a company that was to become one of the
                world's most important manufacturers of timepieces.</p>
            </div>
          </div>
          <div class="row align-items-center text-md-left mb-5">
            <div class="col-md-6 order-1 order-md-0"><img class="img-fluid"
                                                          src="assets/images/a3.jpg"
                                                          alt=""></div>
            <div class="col-md-6 mb-4 mb-md-0"><span class="display-3 mb-2">1895</span>
              <h3 class="mb-4">Seikosha builds the first pocket watch.</h3>
              <p>Throughout the 1890's, the success of Seikosha's wall clock business increased, and Kintaro looked to
                broaden the range of his business. In 1895, he created a pocket watch, the Timekeeper. It was a vital
                step forward, without which the future of Seiko would have been very different as it paved the way for
                Japan's first ever wrist watch.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

